
<% include header%>
<div class="admin-content">
    <div class="am-cf am-padding">
      <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">首页</strong> / <small>System Introduce</small></div>
    </div>

    <hr>

    <div class="am-g">

      <div class="am-u-sm-12 am-u-md-4">
        <div class="am-panel am-panel-default">
          <div class="am-panel-bd">
            
              <p>码农河牛商：</p>
              <p>这个系统是由菜鸟我自己出于兴趣进行开发的，在一定程度上模仿了MemAdmin这个软件，仅仅是为了学习NodeJS以及进一步全面的了解memcached。</p>
              <p>所以，有兴趣的可以拿来玩玩，有什么建议或者问题，都可以给我提出来，让小菜得以提升自己水平~</p>
            
          </div>
        </div>

      </div>
    </div>
  </div>

<% include footer%>
